/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #5d4f4f;
}

/* Header */
header {
    background-color: #2c3e50;
    color: white;
    padding: 25px;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

/* Home Section */
.intro {
    background: url('nepal-banner.jpg') no-repeat center center/cover;
    padding: 60px;
    text-align: center;
    color: white;
}

.intro-content {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 40px;
}

.intro h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.intro p {
    font-size: 20px;
    margin-bottom: 30px;
}

button {
    padding: 10px 20px;
    background-color: #e74c3c;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
.learn-more-button {
    display: inline-block;
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 12px 20px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    margin-top: 15px;
}

.learn-more-button:hover {
    background-color: #2980b9;
}


/* Tourist Places Section */
#places {
    padding: 60px 20px;
    text-align: center;
}

#places h2 {
    font-size: 32px;
    margin-bottom: 40px;
}

.places-gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.place-card {
    background-color: white;
    margin: 20px;
    padding: 20px;
    width: 250px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.place-card:hover {
    transform: translateY(-10px);
}

.place-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

button.more-info {
    background-color: #3498db;
    padding: 10px 15px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

/* Contact Section */
#contact {
    padding: 40px 20px;
    background-color: #ecf0f1;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #e74c3c;
    color: white;
    border: none;
    cursor: pointer;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #2c3e50;
    color: white;
}

    